input[readonly]{
	background-color: transparent !important;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF; overflow: auto;
}
.autocomplete-suggestion {
	padding: 5px 10px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
.autocomplete-selected {
	background-color: #F0F0F0;
}
.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}
.autocomplete-group {
	padding: 5px 10px;
}
.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}
.autocomplete-no-suggestion {
	padding: 5px 10px;
}
.custom-file-input ~ .custom-file-label::after {
	content: "Выбрать";
}
.delete-coin {
	color: #ccc;
}
.hiddden {
	display: none;
}
.border-between > [class*='col-']:before {
	background: #e3e3e3;
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	width: 1px;
	top: 0;
}
.border-between > [class*='col-']:first-child:before {
	display: none;
}
